.video {
    grid-column: 1 / -1;
    margin-bottom: 20rem;

    & h1 {
        color: var(--color-white);
        mix-blend-mode: difference;
    }
}

.videoBg {
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: -2;
}

.videos {
    display: flex;
    flex-wrap: no-wrap;
    gap: 0.5rem;
    overflow-x: scroll;

    & img {
        width: auto;
        height: 10rem;
    }
}

.opened {
    display: block;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
}