.video {
    grid-column: 1 / -1;
    min-height: 100vh;
    margin-bottom: 20rem;

    & h1 {
        color: var(--color-white);
        mix-blend-mode: difference;
    }
}

.videoBg {
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: -2;
}