.stills {
    grid-column: 1 / -1;

    & h1 {
        color: var(--color-white);
        mix-blend-mode: difference;
    }
}

.stillsBg {
    overflow: hidden;
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    z-index: -2;
}

.stillsImages {
    display: flex;
    flex-wrap: no-wrap;
    gap: 0.5rem;
    overflow-x: scroll;

    & img {
        width: auto;
        height: 10rem;
    }
}